@{
    ViewBag.Title = "Chat Room";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/js/getMessages.js"></script>
<div class="container">
    <div class="row">
        <!-- Chat users list -->
        <div class="col-xs-4 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" id="onlineUsersCount">Online users: 0</div>
                <div class="panel-body panel-fixed-height">
                    <ul id="userList"></ul>
                </div>
            </div>
        </div>

        <!--Chat window-->
        <div class="col-xs-8 col-md-10" id="chatPanel">
            <div class="panel panel-default">
                <div class="panel-heading">Users messages:</div>
                <div class="panel-body panel-fixed-height">
                    <ul id="messagesArea"></ul>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" id="userMessage" placeholder="Write your message">
                <span class="input-group-btn">
                    <a class="btn btn-default" id="btnSendMessage">Send!</a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <!--room list-->
        <div class="col-xs-4 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" id="RoomCount">Chat rooms: 0</div>
                <div class="panel-body panel-fixed-height">
                    <ul id="RoomList"></ul>
                </div>
            </div>
        </div>
        <!--room connected Users-->
        <div class="col-xs-8 col-md-10" id="chatPanel">
            <div class="panel panel-default">
                <div class="panel-heading">Connected Users:</div>
                <div class="panel-body panel-fixed-height">
                    <ul id="usersList"></ul>
                </div>
            </div>
        </div>
    </div>
    <!--room messages-->
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading" id="RoomCount">Messages in Room</div>
                <div class="panel-body panel-fixed-height">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Session</th>
                                <th>Room</th>
                                <th>Date</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>